doc/UserGuide/dirspec.dtd

<!-- directory documentation specification -->

<!-- ********** Elements ********** -->
<!ELEMENT p (#PCDATA)>

<!-- top level -->
<!ELEMENT dir (fit, use, definition, (definition | example)+)>

<!-- phase 1 elements -->
<!ATTLIST dir name CDATA #REQUIRED>

<!ELEMENT fit (p+)>

<!ELEMENT use (when, why)>
<!ELEMENT when (p+)>
<!ELEMENT why (p+)>

<!-- phase 2 elements -->
<!ELEMENT definition (term, p+)>
<!ELEMENT term (#PCDATA)>

<!ELEMENT code (#PCDATA)>
<!ELEMENT example (p | code)+>
